/Arquivo.class
/ArquivoLista.class
/ArquivoUsuario.class
/HashExtensivel$Cesto.class
/HashExtensivel$Diretorio.class
/HashExtensivel.class
/ParEmailEndereco.class
/ParIDEndereco.class
/ParUsuarioLista.class
